*~
*.bak
*.log
*.orig
*.tmp
.unison.*

dist/
test/unit/coverage
test/e2e/reports

# Composer, Bower, Node, Sass, Selenium
composer.lock
composer.phar
vendor/
bower_components
node_modules
npm-debug.log*
.sass-cache/
*.css.map
selenium-debug.log

# Eclipse, NetBeans, PhpStorm, SublimeText, Vim
.project
.buildpath
.settings/
nbproject/
.idea/
*.cache
*.sublime-*
*.swp

# OS
._*
.DS_Store
Thumbs.db
